<html>
<head>
<title>{{page_title}}</title>
</head>
<body>
<div style='font-size: 2em'>Flickr Search</div>
<form action="gresponse" method="post">
    <label for="search">Please enter a keyword to search:</label>
    <input type="text" id="search" name="search" /> <input type="submit" value="Go" name="gobtn"/> </form>
{% if prompt %}
<div class= 'formtitle'>{{prompt}}</div>
{% endif %}
</body>
</html>