<html>
<head>
<title>{{page_title}}</title>
</head>
<body>
<div style='font-size: 2em'>Search Result for {{search}}</div>
{% for g in photos %}
	<div class ='greeting'>{{g}}</div>
{% endfor %}
<p><a href = 'greetings'>Greet someone else?</a></p>
</body>
</html>
